$avatar-height: 46px;
$avatar-width: 46px;


.avatar {
    border-radius: 9999px;
    float: left;
    height: $avatar-height;
    width: $avatar-width;
}

.tweet {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    padding: 8px;
}

.tweetContent {
    font-size: 14px;
    margin-left: calc(#{$avatar-width} + 12px);
}