.authorName {
    font-weight: bold;
    color: rgb(29, 161, 242);
}

.dotSeparator {
    color: rgb(83, 100, 113);
    display: inline-block;
    padding: 0 2px;
}

.timestamp {
    color: rgb(83, 100, 113);
}

.tweetBody {
    font-size: 12px;
    margin-bottom: 6px;
    margin-left: 8px;

    & a {
        text-decoration: none;
    }
}

.tweetContainer {
    display: flex;
}

.userAvatar {
    border-radius: 9999px;
    height: 32px;
    width: 32px;
}