.authorName {
    &:hover {
        text-decoration: underline;
    }
}

.dotSeparator {
    color: rgb(83, 100, 113);
    display: inline-block;
    padding: 0 2px;
}

.timestamp {
    color: rgb(83, 100, 113);
}

.tweetBody {
    font-size: 12px;
    margin-bottom: 6px;
    margin-left: 8px;

    & a {
        color: rgb(29, 161, 242);
        font-weight: bold;
        text-decoration: none;
    }
}

.tweetContainer {
    display: flex;

    &:hover {
        background-color: rgba(0, 0, 0, 0.03);
        cursor: pointer;
    }
}

.userAvatar {
    border-radius: 9999px;
    height: 32px;
    width: 32px;

    &:hover {
        filter: brightness(0.80);
    }
}